@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

/* Forces Tailwind v4 to process your project folders on Drive D */
@source "../**/*.{js,ts,jsx,tsx,mdx}";

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}